

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Start header area css */
body {
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7857;
    letter-spacing: 0.075em;
    color: #333;
    background-color: #fff;
}
.section_gap{
    padding: 50px 0;
}
.main_header{
    background: #fff;
    height:50px;
    
}
 .logomobile{
        
         display: none;
    }
.navbar-custom .nav > li > a:focus,
.navbar-custom .nav > li > a:hover,
.navbar-custom .nav > li.active > a,
.navbar-custom .nav .open > a,
.navbar-custom .nav .open > a:focus,
.navbar-custom .nav .open > a:hover {
    background-color: #fff;
    color: #0095d6;
     outline: none;
}
.navbar-custom .navbar-toggle {
   background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  float: left;
  margin: 25px 15px 8px 10px;
  padding: 10px;
  position: relative;
   background: #fff;
}

.navbar-nav ul.sm-nowrap > li > a {
  padding: 15px!important;
  
}
.section_header{
    padding: 10px 0;
}
.section_header h2{
  color: #616161;
  font-size:30px;
  text-transform: uppercase;
  font-family: "Open Sans",sans-serif;
}
.modal_button {
  float: right;
  margin-top: 25px;
  margin-right: 30px;
  display: none;
}

.modal_button a{
    color: #000;
    text-decoration:none;
    
}

.modal_button a:hover{
    
    color: #000;
}
.modal_button a:focus{
    
    outline: none;
}



.navbar-custom .navbar-toggle .icon-bar {
    background: #8c8c8c;
}
.main_header{
    z-index: 20;
}
.navbar-custom {
  background-color: #fff;
  border: 0 none;
  border-radius: 0;
  box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.06);
  height: 90px;
  margin-bottom: 0;
  z-index: 1111;
}
.navbar-custom .nav li > a {
  color: #000;
  font-size: 14px;
  padding: 30px 8px;
  position: relative;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  font-family: "Open Sans",sans-serif;
}
.navbar-brand {
  
 padding: 20px;
}
.is-sticky .navbar-custom .nav li > a {
  padding: 35px 8px;
}
.Sportloop{
    
    color: #0095d6;
    font-size: 18px;
    text-transform: uppercase;
}
a.focus{outline: none}

/* End header area css */


/* Start slider area css */


.carousel-caption{
    
    top:30%;
    
    
}
.carousel-caption h2{
  color: #fff;
  font-family: "Open Sans",sans-serif;
  font-size: 50px;
  font-weight: 700;
  
    
}

.carousel-caption p{
    
  color: #fff;
  font-family: "Open Sans",sans-serif;
  font-size:18px;
  font-weight: 400;
}
/* End slider area css */

/* Start about area css */
.about_content{
    
    padding: 20px 0;
}
.about_content p {
  color: #000;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
}
.nav > li {
  display: inline-block;
  
}
.tab-content p{
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #000;
  margin: 30px 0;
  text-align: justify;
}
.tabnavs > li > a {
  display: block;
  padding: 10px 15px;
  position: relative;
  font-size: 18px;
  font-weight: 300;
  border-bottom: 1px solid #616161;
  color: #616161;
  transition: all 0.5s ease-in-out;
}
.tabnavs > li > a:hover{
    background: #0095D6;
    color: #fff;
    border-bottom: none;
    
}
.tabnavs > li > a:focus{
    outline: none;
}

.tabnavs > li > a:active{
    outline: none;
    background: #0095D6;
    color: #fff;
    border-bottom: none; 
}

/* End about area css */

/* Start parallax area css */

.parallax{
    
     background: url(../img/countbg.jpg)50% 0 no-repeat fixed;
}

.parallax_content{
    
    padding: 100px 0;
    
}
.parallax_content a:focus{
    
    outline:none;
    
}
.parallax_content button{
    
    color:#606060;
    font-size:20px;
    border: none;
    border-radius: 0;
    
}
.parallax_content h2{
  font-family: "Open Sans",sans-serif;
  font-size:36px;
  font-weight:400;
  color: #fff;
  margin: 10px 0;
  transition: all 0.5s ease-in-out;
    
}
/* End parallax area css */



/* Start Team area css */

.team{
    background: #f1f1f1;
}
.team_content {
  height: 400px;
  padding: 35px;
}
.team_content img{
    
    border: 2px solid #3399FF;
}
.team_content h4{
  font-family: "Open Sans",sans-serif;
  font-size:18px;
  font-weight:400;
  color: #000;
  margin: 15px 0;
  transition: all 0.5s ease-in-out;
    
}
.team_content:hover.team_content h4{
    
    color: #3399FF;
}
.team_img{
    
    padding: 30px;
}
/* End Team area css */

/* Start Footer widget section css */

.footer_upper{
    background: #0095d6;
    color: #fff;
    
}

.social_block{
    padding: 20px 0;
    
}
.widget_title h4{
    font-family: "Open Sans",sans-serif;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    
}

.widget_description p{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-family: "Open Sans",sans-serif;
    
    
}
.social_block i {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 100%;
  color: #000;
  font-size: 20px;
  height: 50px;
  padding: 15px;
  width: 50px;
  transition: all 0.5s ease-in-out;
}
.social_block a:hover i{
    
    color: #0095d6;
}
.social_block a:focus{
    
    outline: none
}

/* End Footer widget section css */



/* css for Modal */
#myModal{
    
    z-index: 1111111;
}
.modal-header {
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.43px;
  padding: 15px;
  background: #3399FF;
  color: #fff;
 
}
.modal-title {
  line-height: 1.42857;
  margin: 0;
  font-size: 14px;
}
/* css for scrollup */
.scrollup {
  background: #99d4ee none repeat scroll 0 0;
  border: medium none;
  bottom: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  height: 40px;
  position: fixed;
  right: 5px;
  width: 40px;
}

/* Start footer area css */

.footer_content{
    
    padding: 30px 0;
}
.footer_content p{
    
    font-size: 18px;
}
/* End footer area css */


