/*
Theme Name: Sportloop - Startseite

*/





@media screen and (max-width: 980px) {
 .widget_content {
  height: 335px;
}
.carousel-caption {
  
  top: 20%;
}
}



@media screen and (max-width: 768px) {
   
.widget_content {
  height: 335px;
}
    
}


@media screen and (max-width: 640px) {
    .logo{
        display: none;
    }
     .logomobile{
        
         display: block;
    }
    .modal_button{
        
        display: block;
    }
    
    #main-menu{
        
        background: #fff;
        margin-top: 20px;
    }
    .navbar-collapse{
         background: #fff;
         padding: 20px 10px;
         
    } 
    .navbar-custom .nav li > a {
   
  padding: 5px 8px;
 
}
.is-sticky .navbar-custom .nav li > a {
  padding: 5px 8px;
}

.widget_content {
 
 
}
.widget_content {
  height: 360px;
  overflow: hidden;
  padding: 20px 200px;
}
.carousel-caption {
  
  top: 15%;
}
}

@media screen and (max-width: 480px) {
  .logo{
        display: none;
    }
     .logomobile{
        
          display: block;
    }
    .modal_button{
        
        display: block;
    }
  .Sportloop {
  
  font-size: 11px;
  
}
.widget_content {
  padding: 20px 125px;
  height: 360px;
  overflow: hidden;
}
.team_content {
  height: 300px;
  padding: 10px;
}
.parallax_content h2 {
  
  font-size: 30px;
  
}
.carousel-caption h2 {
  
  font-size: 45px;
  
}
.carousel-caption {
  top: 15%;
}
}

@media screen and (max-width: 320px) {
 .logo{
        display: none;
    }
     .logomobile{
        
         display: block;
    }
    .modal_button{
        
        display: none;
    }
    .Sportloop {
  
  font-size: 11px;
  
}
.widget_content {
  padding: 20px 50px;
  height: 360px;
  overflow: hidden;
}
.team_content {
  height: 225px;
  padding: 5px;
}
.team_content h4 {
  
  font-size: 10px;
  
}
.team_content span.subtitle{
   font-size: 8px;  
    
}
.parallax_content h2 {
  font-size: 20px;
}
.tabnavs > li > a {
  
 
  
  font-size: 16px;
  
  padding: 10px 5px;
  
  
}
.section_header h2 {
 
  font-size: 20px;
  
}
.carousel-caption h2 {
  
  font-size: 20px;
  
}
.carousel-caption p {
  
  font-size: 12px;
  
}
.carousel-caption {
  top: 10%;
}
}